*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 15px;
    transition: 0.4s;
    position: relative;
}
nav .image_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
nav .image_section .image{
    height: 20px;
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}
nav .image_section .image img{
    height: 100%;
    width: 100%;
}
nav .image_section .search_section{
    width: 100%;
    position: relative;
    height: 25px;
}
nav .image_section .search_section input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    position: relative;
    display: none;
}
/* nav .image_section .search_section::before{
    content: '';
    position:absolute ;
    height: 25px;
    width: 25px;
    display: flex;
    background-image: url(../images/search\ icon.png);
    left: 0;
    margin: auto;
    top: -1px;
    z-index: 1;
    cursor: pointer;
    background-repeat: no-repeat;
} */

nav .get_involved{
    height: 30px;
    width: 180px;
    background-color: black;
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    flex-wrap: wrap;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
nav .get_involved::before{
    content: '';
    position: absolute;
    display: flex;
    height: 20px;
    width: 30px;
    left: 5px;
    background-image: url(../images/arrow-white.png);
    background-repeat: no-repeat;
    background-position-y: -4px;
    background-position-x: 5px;
}

/* sidenav */

.side_nav{
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    top: -110%;
    background-color: white;
    left: 0;
    transition: 0.4s;
}
.side_nav #circle{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    border-top-left-radius: 0;
    top: 0;
    opacity: 0;
    transition: 0.8s;
    z-index: -1;
    pointer-events: none;
}
.side_nav ul{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    top: -100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.9s;
    z-index: 1;
}
.side_nav ul .image_section{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 20px;
}
.side_nav ul .li_wala_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.side_nav ul .li_wala_section li{
    list-style: none;
    text-align: left;
    margin: 10px 0;
}
.side_nav ul .li_wala_section li a{
    position: relative;
}
.side_nav ul .li_wala_section li:nth-child(1) a::before{
    content: '';
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    background: black;
    border-radius: 100px;
    transition: 0.5s ease-in-out;
}

.side_nav ul .li_wala_section li:nth-last-child(1) a::before{
    content: '';
    height: 25px;
    width: 45px;
    border: 4px solid black;
    position: absolute;
    right: -70px;
    top: 28%;
    border-radius: 20px;
    background-color: black;
}
.side_nav ul .li_wala_section li:nth-last-child(1) a::after{
    content: '';
    height: 25px;
    width: 45px;
    border: 4px solid black;
    position: absolute;
    right: -70px;
    top: 28%;
    border-radius: 20px;
    background: url(../images/white-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: calc(45px / 2 - 10px);
    background-position-y: -2px;
}

.side_nav ul .get_involved{
    height: 30px;
    width: 180px;
    background-color: black;
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    flex-wrap: wrap;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.side_nav ul hr{
    height: 2px ;
    background: black;
    margin: 30px auto;
    width: 100%;
}

.side_nav ul .li_wala_section li a{
    color: black;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width:550px) {
    nav .get_involved{
        display: none;
    }
    nav .search{
        display: none;
    }
}
@media screen and (max-width:470px) {
    .side_nav ul .li_wala_section li a{
        font-size: 28px;
    }
    .side_nav ul .li_wala_section li:nth-last-child(1) a::before{
        height: 20px;
        width: 35px;
        right: -55px;
        top: 15%;
    }
    .side_nav ul .li_wala_section li:nth-last-child(1) a::after{
        content: '';
        height: 20px;
        width: 35px;
        right: -55px;
        top: 15%;
        background-position-x: 9px;
    }
}


/* get involved click section */

.get_incliSe{
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    z-index: 99999999;

}
.get_incliSe .cross_GI{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50px;
    padding: 12px 8px;
}
.get_incliSe .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 12px 8px;
}
.get_incliSe .one{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    word-wrap: break-word;
    width: 100%;
    position: relative;
}
.get_incliSe .one .image{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    min-height: 60px;
    margin-right: 10px;
}
.get_incliSe .one .image img{
    width: 100%;
    height: 100%;
}
.get_incliSe .one .content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    width: auto;
}
.get_incliSe .one button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    min-width: 50px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
}
.get_incliSe  hr{
    width: 80%;
    height: 3px;
    color: white;
    background-color: white;
    margin: 20px auto;
    margin-bottom: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
}
@media screen  and (max-width:420px){
    .get_incliSe .one .image{
        min-width: 50px;
        min-height: 30px;    
    }
    .get_incliSe .one button{
        min-height: 15px;
        min-width: 40px;
        font-size: 1rem;
    }
    .get_incliSe .one .content h3{
        font-size: .8rem;
    }
    .get_incliSe .one .content p{
        font-size: .6rem;
    }
    .get_incliSe  hr{
        margin-bottom: 20px;
    }
}


/* main_heading */

.main_heading{
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
}
.main_heading img{
    width: 450px;
    height: auto;
}

/* <!-- main-herpo section --> */

.m_hero_section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}
.m_hero_section .image{
    width: 50%;
    height: auto;
}
.m_hero_section .image img{
    width: 100%;
    height: auto;
    filter: saturate(200%);
}
.m_hero_section .msd{
    display: flex;
    justify-content: space-between;
    width: 48%;
    flex-wrap: wrap;
}
.m_hero_section .content{
    width: 47%;
    height: auto;
}
.m_hero_section .poll_section{
    width: 49%;
    height: auto;
}

.m_hero_section .poll_section .click_section{
    display: flex;
    width: 100%;
    background-color: rgba(42, 71, 205, 1);
    padding: 10px;
    padding-bottom:12px;
    align-items:center;
    cursor:pointer;
    margin-top:15px;
    transition:0.4s;
}
.m_hero_section .poll_section .click_section:hover{
    background-color:rgba(35, 57, 164, 1);
}

.m_hero_section .poll_section .click_section .box{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    margin-right:10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.m_hero_section .poll_section .click_section .bgaya{
    background-image: url(../images/tick-option.png); 
    background-color: rgba(35, 57, 164, 1);

}
.m_hero_section .poll_section .click_section .content{
    display:flex;
    width:calc(100% - 40px);
    flex-direction:column;
}
@media screen and (max-width:995px) {
    .m_hero_section{
        justify-content: center;
    }
    .m_hero_section .image{
        width: 100%;
    }
    .m_hero_section .msd{
        width: 100%;
        margin-top: 30px;
        padding: 10px;
    }
}
@media screen and (max-width:530px) {
    .m_hero_section .msd{
        flex-direction: column;
        padding: 0;
    }
    .m_hero_section .msd .content{
        width: 100%;
    }
    .m_hero_section .msd .poll_section{
        width: 100%;
        margin-top: 40px;
    }
    .main_heading img{
        width: 80%;
    }

}


/* <!-- WHAT IS PROJECT TOM? --> */

.wit_project{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    word-wrap: break-word;
    width: 100%;
    flex-direction: column;
    background-color: rgba(192, 192, 192, .15);
}
.wit_project h1{
    color: black;    
    text-transform: uppercase;
    line-height: 50px;    
    margin-bottom: 20px;   
}
.wit_project h1 .clip_wala_Span{
    position: relative;
    margin: 0 15px;

}

.wit_project h1 .clip_wala_Span::before{
    content: '';
    width: 110%;
    height: 105%;
    position: absolute;
    background-color: rgba(0, 194, 226, 1);
    z-index: -1;
    clip-path: polygon(11% 1%, 100% 1%, 90% 100%, 0% 100%);
    left: -10px;
}
@media screen and (max-width:510px) {
    .wit_project h1{
        font-size: 1rem;
        line-height: 25px;
    }
    .wit_project h1 .clip_wala_Span::before{
        top: 0px;
    }

}

/* t_discussion */

.t_discussion{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    margin: 20px 0;
    align-items: center;
}
.t_discussion button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 40px;
    width: auto;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}
@media screen and (max-width:510px) {
    .t_discussion button{
        display: none;
    }
    .t_discussion h1{
        font-size: 1.8rem ;
    }
}


/* main_discussions */

.main_discussions{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.main_discussions::-webkit-scrollbar{
    display: none;
}
.main_discussions .d_one{
    display: flex;
    flex-direction: column;
    min-width: 20%;
    margin: 10px;
    height: auto;
}
.main_discussions .d_one img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    filter: saturate(200%);
}
.main_discussions .d_one h5{
    margin-bottom: 15px;
}
.main_discussions .d_one h2{
    margin-bottom: 15px;
}
@media screen and (max-width:820px) {
    .main_discussions .d_one{
        min-width: 50%;
    }
}
@media screen and (max-width:445px) {
    .main_discussions .d_one{
        min-width: 80%;
    }
}


/* summer_sl */

.summer_sl{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgba(136, 128, 121, 1);
    width: 100%;
    border: none;
    outline: none;
    color: white;
    align-items: center;
}
.summer_sl .content{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.summer_sl .content .image_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.summer_sl .content .image_content img{
    width: 70px;
    margin-right: 20px;
    height: auto;
}
.summer_sl .content h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.summer_sl .content button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-weight: 900;
    margin-top: 30px;
}
.summer_sl .image{
    width: 50%;
    height: auto;
}
.summer_sl .image img{
    width: 100%;
    height: auto;
    filter: saturate(200%);
}
@media screen and (max-width:1175px) {
    .summer_sl .content h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:860px) {
    .summer_sl .content h1{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:860px) {
    .summer_sl{
        flex-direction: column-reverse;
    }
    .summer_sl .image{
        width: 100%;
    }
    .summer_sl .content{
        width: 100%;
        margin-top: 30px;
    }
    .summer_sl .content h1{
        font-size: 3.5rem;
    }
}
@media screen and (max-width:615px) {
    .summer_sl .content h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:460px) {
    .summer_sl .content h1{
        font-size: 2rem;
    }
    .summer_sl .content .image_content img{
        width: 50px;
    }

}
@media screen and (max-width:380px) {
    .summer_sl{
        padding: 20px;
    }
    .summer_sl .content h1{
        font-size: 1.5rem;
    }
}

/* contributors */


.contributors{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: scroll;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
.contributors::-webkit-scrollbar{
    display: none;
}
.contributors .head{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
}
.contributors .head .logo_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.contributors .head .logo_btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-weight: 900;
    cursor: pointer;
}
.contributors .main_cons{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: scroll;
    width: 100%;
    background-color: black;
    color: white;
}
.contributors .main_cons::-webkit-scrollbar{
    display: none;
}
.contributors .main_cons .cons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 20%;
    margin: 20px;
}
.contributors .main_cons .cons img{
    width: 100%;
    height: auto;
    filter: saturate(120%);
}
@media screen and (max-width:700px) {
    .contributors .main_cons .cons{
        min-width: 50%;
    }
    .contributors .head .logo_btn button{
        display: none;
    }

}
@media screen and (max-width:360px) {
    .contributors .main_cons .cons{
        min-width: 80%;
        margin: 10px;
    }
}


/* the_innovation_heading */

.the_innovation_heading{
    display: none;
    padding: 20px;
    background-color: white;
    color: black;
}

/* innovation_hero */

.innovation_hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
}
.innovation_hero img:nth-child(1){
    width: 33.5%;
    height: 600px;
    filter: saturate(200%);
}
.innovation_hero img:nth-child(2){
    width: 33.5%;
    height: 600px;
    filter: saturate(120%);
}
.innovation_hero .content{
    display: flex;
    justify-content:baseline;
    align-items: flex-start;
    flex-direction: column;
    width: 33%;
    padding: 30px;
    height: 600px;
}
.innovation_hero .content button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-weight: 900;
    cursor: pointer;
}
.innovation_hero .content button span{
    margin-left: 30px;
}

@media screen and (max-width:800px) {
    .innovation_hero img{
        min-width: 50%;
        height: auto;
    }
    .innovation_hero img:nth-child(2){
        display: none;
    }
    .innovation_hero .content{
        min-width: 50%;
        height: auto;
    }
}
@media screen and (max-width:530px) {

    .innovation_hero img{
        min-width: 100%;
        min-height: auto;
        max-height: auto;
    }
    .innovation_hero .content{
        min-width: 100%;
        height: auto;
        padding: 20px;
    }
}


/* footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    width: 100%;
}
footer .subscribe{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    flex-direction: column;
}
footer .subscribe .input{
    width: 80%;
    position: relative;
}
footer .subscribe .input input{
    height: 50px;
    background-color: black;
    width: 100%;
    border: 1px solid white;
    color: white;
    padding: 0 10px;
    outline: none;
    position: relative;
}
footer .subscribe .input::before{
    content: '';
    height: 48px;
    width: 50px;
    border: 1px solid white;
    position: absolute;
    right: -50px;
    background-image: url(../images/white-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:8px ;
    background-position-y: -4px;
    cursor: pointer;
}

footer .sec_about{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    padding: 0 50px;
    flex-wrap: wrap;
}

@media screen and (max-width:820px) {
    footer .subscribe{
        width: 100%;
    }
    footer .sec_about{
        padding: 50px 0;
        width: 70%;
    }
}
@media screen and (max-width:445px) {
    footer .sec_about{
        padding: 50px 0;
        width: 100%;
    }
}
@media screen and (max-width:323px) {
    footer .sec_about{
        padding: 50px 0;
        width: 100%;
    }
    footer .sec_about .about{
        margin-top: 30px;
    }
}